In [1]:
import pandas as pd
import tensorflow as tf

#과거의 데이터를 준비하기

In [4]:
directory = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(directory)
boston.shape

(506, 14)

In [7]:
boston.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [14]:
boston.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [17]:
independent = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
dependent = boston[['medv']]
print("independent : ", independent.shape)
print("dependent : ", dependent.shape)

independent :  (506, 13)
dependent :  (506, 1)

In [18]:
independent_test = independent[-5:]
independent_train = independent[:-5]
print("independent_test : ", independent_test.shape)
print("independent_train : ", independent_train.shape)


dependent_test = dependent[-5:]
dependent_train = dependent[:-5]
print("dependent_test : ", dependent_test.shape)
print("dependent_train : ", dependent_train.shape)

independent_test :  (5, 13)
independent_train :  (501, 13)
dependent_test :  (5, 1)
dependent_train :  (501, 1)

#모델 설계하기

In [26]:
X = tf.keras.layers.Input(shape =[13])

H = tf.keras.layers.Dense(8)(X)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation("swish")(H)

H = tf.keras.layers.Dense(8)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation("swish")(H)

H = tf.keras.layers.Dense(8)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation("swish")(H)

Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss = 'mse')

#데이터를 학습한다

In [28]:
model.fit(independent_train, dependent_train, epochs = 990, verbose=0)
model.fit(independent_train, dependent_train, epochs = 10)

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 9.3497
Epoch 2/10
16/16 [==============================] - 0s 2ms/step - loss: 8.9059
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 9.7592
Epoch 4/10
16/16 [==============================] - 0s 2ms/step - loss: 10.3039
Epoch 5/10
16/16 [==============================] - 0s 2ms/step - loss: 9.6386
Epoch 6/10
16/16 [==============================] - 0s 2ms/step - loss: 9.8758
Epoch 7/10
16/16 [==============================] - 0s 2ms/step - loss: 9.0054
Epoch 8/10
16/16 [==============================] - 0s 2ms/step - loss: 10.6741
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 10.5947
Epoch 10/10
16/16 [==============================] - 0s 2ms/step - loss: 9.4949