<a href="https://colab.research.google.com/github/HUHUJUNG/i.teach.me/blob/main/%5B%EC%83%9D%ED%99%9C%EC%BD%94%EB%94%A9%5Dtensorflow1_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [7]:
#파일들로부터 데이터 읽어오기
directory_lemonade = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemonade = pd.read_csv(directory_lemonade)

directory_boston = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(directory_boston)

directory_iris = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
iris = pd.read_csv(directory_iris)

In [13]:
#데이터 모양 확인하기 (열, 칼럼)
print("lemonade shape : ", lemonade.shape)
print("boston shape : ", boston.shape)
print("iris shape : ", iris.shape)

lemonade shape :  (6, 2)
boston shape :  (506, 14)
iris shape :  (150, 5)

In [17]:
#칼럼 이름 출력하기
print("lemonade cloums : ", lemonade.columns)
print()
print("boston cloums : ", boston.columns)
print()
print("iris cloums : ", iris.columns)

lemonade cloums :  Index(['온도', '판매량'], dtype='object')

boston cloums :  Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

iris cloums :  Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [23]:
#데이터 쪼개기
independent_lemonade = lemonade[['온도']]
dependent_lemonade = lemonade[['판매량']]
print("lemonade : ", independent_lemonade.shape, dependent_lemonade.shape)

independent_boston = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
dependent_boston = boston[['medv']]
print("boston : ", independent_boston.shape, dependent_boston.shape)

independent_iris = iris[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
dependent_iris = iris[['품종']]
print("iris : ", independent_iris.shape, dependent_iris.shape)

lemonade :  (6, 1) (6, 1)
boston :  (506, 13) (506, 1)
iris :  (150, 4) (150, 1)

In [24]:
independent_lemonade.head()

   온도
0  20
1  21
2  22
3  23
4  24

In [25]:
independent_boston.head()

      crim    zn  indus  chas    nox  ...  rad  tax  ptratio       b  lstat
0  0.00632  18.0   2.31     0  0.538  ...    1  296     15.3  396.90   4.98
1  0.02731   0.0   7.07     0  0.469  ...    2  242     17.8  396.90   9.14
2  0.02729   0.0   7.07     0  0.469  ...    2  242     17.8  392.83   4.03
3  0.03237   0.0   2.18     0  0.458  ...    3  222     18.7  394.63   2.94
4  0.06905   0.0   2.18     0  0.458  ...    3  222     18.7  396.90   5.33

[5 rows x 13 columns]

In [26]:
independent_iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭
0   5.1  3.5    1.4   0.2
1   4.9  3.0    1.4   0.2
2   4.7  3.2    1.3   0.2
3   4.6  3.1    1.5   0.2
4   5.0  3.6    1.4   0.2