In [1]:
import pandas as pd

#categorical data type

In [2]:
directory = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv'
iris = pd.read_csv(directory)

In [4]:
iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [6]:
#원핫인코딩
incoding = pd.get_dummies(iris)
incoding.head()
#이렇게하면 판다스가 품종이 정수라고 생각해서 안됨!

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [11]:
#칼럼들의 데이터 타입 파악하기
print(iris.dtypes)

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

In [14]:
#원핫인코딩 하려는 것을 카테고리나 object 타입(범주형)으로 바꿔줘야함
iris['품종'] = iris['품종'].astype('category')
print(iris.dtypes)

꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object

In [17]:
#원핫인코딩
incoding = pd.get_dummies(iris)
incoding.columns

Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종_0', '품종_1', '품종_2'], dtype='object')

#NA

In [19]:
#결측치가 있는지 확인
iris.isna().sum()

꽃잎길이     0
꽃잎폭      1
꽃받침길이    0
꽃받침폭     0
품종       0
dtype: int64

In [23]:
#NA값에 평균값 넣어주자
mean = iris[['꽃잎폭']].mean()
print(mean)

꽃잎폭    3.054362
dtype: float64

In [24]:
iris[['꽃잎폭']].fillna(mean)

          꽃잎폭
0    3.500000
1    3.000000
2    3.200000
3    3.100000
4    3.600000
..        ...
145  3.000000
146  2.500000
147  3.000000
148  3.400000
149  3.054362

[150 rows x 1 columns]