<a href="https://colab.research.google.com/github/HUHUJUNG/i.teach.me/blob/main/tensorflow1/%EB%A0%88%EB%AA%A8%EB%84%A4%EC%9D%B4%EB%93%9C_%ED%8C%90%EB%A7%A4%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###라이브러리 사용

In [25]:
import pandas as pd
import tensorflow as tf

###과거의 데이터를 준비하기

In [26]:
directory_lemonade = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemonade = pd.read_csv(directory_lemonade)
lemonade.shape

(6, 2)

In [27]:
lemonade.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [35]:
#독립변수와 종속변수로 분리
independent = lemonade[['온도']]
dependent = lemonade[['판매량']]

print("dependent : ", dependent.shape)
print("independent : ", independent.shape)

dependent :  (6, 1)
independent :  (6, 1)

###모델의 구조 만들기

In [36]:
X = tf.keras.layers.Input(shape=[1]) #독립변수 열의 갯수가 1개이기 때문
Y = tf.keras.layers.Dense(1)(X) #종속변수 열의 갯수가 1개이기 때문
model = tf.keras.models.Model(X, Y)
model.compile(loss = 'mse') #모델이 학습하는 방법을 정해줌

###데이터로 모델 학습 시키기

#####epoch
전체 데이터를 몇번 반복해서 학습시킬지

#####loss
학습이 끝날 때 마다 해당 시점의 모델이 얼마나 정답에 가까운지 평가하는 지표.

(종속변수-예측결과)^2의 평균

loss가 0에 가까워지고 있는지 파악해야함

In [37]:
model.fit(independent, dependent, epochs = 10000, verbose=0) #학습하는 동안 출력을 하지 않음 verbose=0

In [38]:
model.fit(independent, dependent, epochs = 10)
#(e-04) = (10의 -4승)

Epoch 1/10
1/1 [==============================] - 0s 4ms/step - loss: 1.9455e-04
Epoch 2/10
1/1 [==============================] - 0s 5ms/step - loss: 1.9456e-04
Epoch 3/10
1/1 [==============================] - 0s 3ms/step - loss: 1.9465e-04
Epoch 4/10
1/1 [==============================] - 0s 3ms/step - loss: 1.9472e-04
Epoch 5/10
1/1 [==============================] - 0s 8ms/step - loss: 1.9471e-04
Epoch 6/10
1/1 [==============================] - 0s 6ms/step - loss: 1.9469e-04
Epoch 7/10
1/1 [==============================] - 0s 5ms/step - loss: 1.9458e-04
Epoch 8/10
1/1 [==============================] - 0s 5ms/step - loss: 1.9437e-04
Epoch 9/10
1/1 [==============================] - 0s 5ms/step - loss: 1.9411e-04
Epoch 10/10
1/1 [==============================] - 0s 4ms/step - loss: 1.9398e-04

모델 사용하기

In [39]:
model.predict(independent)

array([[40.021893],
       [42.018047],
       [44.0142  ],
       [46.010353],
       [48.006508],
       [50.00266 ]], dtype=float32)

In [40]:
dependent

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [41]:
model.predict([[15]])

array([[30.041128]], dtype=float32)